body {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

.container {
  background-color:slategray;
  margin: 25px;
  padding: 5px;
  border: 2px teal
}

.container-title {
  background-color:slategray;
  margin: 5px, 25px;
  padding: 5px;
  border: 2px teal
}

#profileimg {
  padding-left: 40px;
}
#contactimg {
  padding-left: 20px;
}
#biography {
  padding: 20px;
}

/* #dropdown-menu {
  margin-left: auto !important
} */
